{% extends "base.html" %}

{% block title %}Recipe Random{% endblock %}

{% block content %}

    <h1>Random Recipe List</h1>
    <br/>

    <ul>
    {% for recipe in recipe_list %}
    <li><a href="{% url recipe_detail recipe.slug %}">{{ recipe }}</a></li>
    {% endfor %}
    </ul>
    <br/>

    <table>
    <tr>
        <th></th>
        <th>Amount</th>
        <th>Ingredient</th>
    </tr>
    {% for ingredient in ingredient_list %}
    <tr>
        <td>{% if ingredient.multiplier > 1 %}{{ ingredient.multiplier }}x{% endif%}</td>
        <td>{{ ingredient.amount }} {{ ingredient.measurement }}</td>
        <td>{{ ingredient.item }} {{ ingredient.preparation }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}
