{% extends "base.html" %}

{% block title %}Recipe Detail{% endblock %}

{% block content %}
<h1>{{ recipe.name }}</h1>

    <p>
        Source: 
        {% if recipe.source_url %}
        <a href="{{recipe.source_url}}">{{ recipe.source }}</a>
        {% else %}
        {{ recipe.source }}
        {% endif %}
    </p>
    
    <p>Time to prepare: {{ recipe.time }}</p>
    
    <p>
    Serves: {{ recipe.serves }}
    {% if recipe.leftovers %}(Makes leftovers){% endif %}
    </p>
    
    <h2>Equipment:</h2>
    <p>
    {{ recipe.equipment|linebreaksbr }}
    </p>
    
    <h2>Ingredients:</h2>
    {% with recipe.ingredient_set.all as ingredient_list %}
    {% include "ingredient_table.html" %}
    {% endwith %}
    
    <h2>Instructions:</h2>
    <p>
    {{ recipe.instructions|safe|linebreaksbr }}
    </p>
    
    {% if recipe.health %}
    <h2>Health:</h2>
    <p>
    {{ recipe.health|linebreaksbr }}
    </p>
    {% endif %}

{% endblock %}
