    <table>
    <tr>
        <th></th>
        <th>Amount</th>
        <th>Ingredient</th>
    </tr>
    {% for ingredient in ingredient_list %}
    <tr>
        <td>
            {% if ingredient.multiplier > 1 %}{{ ingredient.multiplier }}x{% endif%}
        </td>
        <td>
            {% if ingredient.amount != '1' or ingredient.amount and ingredient.measurement %}{{ ingredient.amount }}{% endif %}
            {% if ingredient.measurement %}{{ ingredient.measurement }}{% endif %}
        </td>
        <td>
            {{ ingredient.item }} 
            {{ ingredient.preparation }}
            {% if ingredient.optional %}*{% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
