{% extends "base.html" %}

{% block title %}Recipe Random{% endblock %}

{% block content %}

    <h1>Random Recipe List</h1>

    <h2>Menu</h2>
    <ul>
    {% for recipe in recipe_list %}
    <li><a href="{% url recipe_detail recipe.slug %}">{{ recipe }}</a></li>
    {% endfor %}
    </ul>

    <h2>Shopping List</h2>
    <ul>
        {% for ingredient in ingredient_list %}
        <li>{{ingredient.0}}
            {% if ingredient.1 %}
            <ul>
                {% for amount in ingredient.1 %}
                <li>{{amount}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
